@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}
body{
    width: 100%;
    text-align: center;
    margin: 20px auto;
    color: #fff;
    user-select: none;
}
#geral{
    width: 500px;
    background-color: #145eff;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
}
h1{
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
#input-tarefa{
    width: 65%;
    height: 38px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    transition: padding-left .5s;
    font-weight: bold;
}
#input-tarefa:focus{
    padding-left: 15px;
}
#btn{
    font-size: 16px;
    width: 25%;
    height: 38px;
    border-radius: 10px;
    background-color: #ff7214;
    border: none;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
}
#btn:hover{
    background-color: #e45b00;
}
#btn:active{
    background-color: #c54f00;
}
#tarefas{
    width: 90%;
    margin: 1.5rem auto;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}